<title>VIEW ALL POLLS</title>
{% if qns %}
  <ol> {% for qn in qns%}
		  <li>
			 <h4> {{qn.question}}</h4>
		  </li>
		  <select>
			  <option value="">---</option>
			   {% for choice in choices %}
					
					{% if choice.poll == qn %}
						<option value="{{ choice.choice_text}}">{{ choice.choice_text}}</option>
					{% endif %}
				{% endfor %}
				</select>
				<br/>
			<p>
			   <a href="{% url 'choice_view' qn.id%}"> View </a> <br>
			   <a href="{% url 'warning' qn.id%}"> remove </a>
			   <br/>
			   <p><a href="{% url 'edit_poll' qn.id %}">click to edit</a></p>
			   <i>It was published in : {{qn.pub_date}}</i></br>
		   </p>
  {% endfor %}
  
    </ol>
 <a href="{%url 'create_poll'%}"> add new poll</a> 
{% else %}
 <p>No poll available available</p>
 <a href="{%url 'create_poll'%}"> create new poll</a> 
 {% endif%}
 
